.Board-Box {
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  max-width: 400px;
  margin: 20px;
  /* Fixed 'Flex' to 'auto' */
  text-align: center;
  transition: border-color 0.3s ease, transform 0.3s ease;
  background-color: rgb(213, 216, 195); /* Add background color */
}

.Board-Box:hover {
  border-color: #3f51b5;
  transform: scale(1.05);
}