
/* Projects Section */

.Projects {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-wrap: wrap;
  }
  
  
  
  .Projects h4 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .Project-Box {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px; /* Reduced padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center align content vertically */
    background-color: rgb(213, 216, 195);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    max-width: 260px; /* Reduced max-width */
    margin: 20px auto; /* Center horizontally */
    overflow: hidden;
    position: relative;
  }
  
  .Project-Box h4 {
    margin: 10px 0;
  }
  
  .Project-Box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
  }
  
  .Project-Box p {
    margin: 0;
    font-size: 1em;
  }
  
  .Project-Box a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .Project-Box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 123, 255, 0.1) 0%, rgba(0, 123, 255, 0.5) 100%);
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }
  
  .Project-Box:hover::before {
    transform: translateX(0%);
  }
  
  .Project-Box:hover {
    border-color: #007BFF;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .Project-Box:hover img {
    transform: scale(1.1);
  }
  
  .Project-Box:active {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  