.team-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Boxa {
  position: relative;
  border: 1px solid #ddddddc9;
  border-radius: 8px;
  padding: 16px;
  max-width: 260px;
  height: 400px;
  transition: border-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Added box-shadow transition */
  background-color: rgb(213, 216, 195);
  margin: 20px;
  text-align: center;
  overflow: hidden; /* Ensure content inside .Boxb doesn't overflow */
}

.Boxb {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgb(130, 185, 183);
  border-color: #6fac7fa0;
  padding: 16px;
  text-align:start;
  color: black;
  transform: scale(0.8); /* Start with a smaller size */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Added opacity transition */
}

.Boxa:hover {
  border-color: #70c486c9;
  transform: translateY(-10px); /* Lift up on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Added box shadow */
}

.Boxa:hover .Boxb {
  display: block;
  transform: scale(1); /* Scale up on hover */
  opacity: 1; /* Fade in */
}

.Admin-Image {
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  object-fit: cover;
  transition: transform 0.3s ease; /* Image zoom transition */
}

.Boxb h6 {
  font-size: 18px;
  margin-bottom: 8px;
}

.Boxb p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 10px;
}
