body {
  font-family: 'Lato', sans-serif;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay.open {
  width: 100%;
  height: 100%;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top:10px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: block;
}

.navbar .logo {
  font-size: 24px;
}

.navbar .nav-items {
  display: flex;
  gap: 15px;
}

.navbar .nav-items a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.social-media-icons {
  display: flex;
  gap: 15px;
}

.social-media-icons a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar .nav-items,
  .navbar .social-media-icons {
    display: none;
    margin: 0px;
    width: 100%;
  }

  .nav-toggle {
    display: block;
  }

  .social-media-icons a {
    display: inline-block;
    padding: 5px; /* Adjust padding as needed */
  }
}
